* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100vh;
}

.youtube {
    border: 2px solid rgb(221, 205, 151);
    width: 80%;
    height: 500px;
}

p.tittle {
    font-family: 'Ramaraja', serif;
    text-align: center;
    font-size: 70px;
}

.youtubeCon {
    margin-top: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (max-width: 900px) {
    p.tittle {
        font-size: 30px;
    }
}